<!-- -*- mode: markdown; coding: utf-8; fill-column: 60; ispell-dictionary: "english" -*- -->

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="style.css">


# EDAF75 - lab 2: Testing the database

As usual we have to tell Jupyter to allow SQL:

In [1]:
%load_ext sql

And then we import our movie database

In [2]:
%sql sqlite:///movies.sqlite

We want to make sure that SQLite3 really checks our foreign
key constraints -- to do that, we run:

In [3]:
%%sql
PRAGMA foreign_keys=ON;

 * sqlite:///movies.sqlite
Done.

[]

Now write SQL code for the following tasks:


+ Show the names of all movies.

In [4]:
%%sql
SELECT *
FROM movies

 * sqlite:///movies.sqlite
Done.

[('tt0060196', 'The Good, the Bad and the Ugly', 1966, 178),
 ('tt0482571', 'The Prestige', 2006, 130),
 ('tt0105236', 'Reservoir Dogs', 1992, 99),
 ('tt0108052', 'Schindlers List', 1993, 195)]

+ Show the performance dates for one of the movies.

In [7]:
%%sql
SELECT screening_date
FROM screenings
WHERE imdb_key = 'tt0108052'

 * sqlite:///movies.sqlite
Done.

[('2022-02-10',)]

+ Show all data concerning performances at a given theatere
  on a given date.

In [16]:
%%sql
SELECT screening_time AS 'Starting time',title AS 'Movie', running_time AS 'Movie length in minutes'
FROM screenings
join movies
using (imdb_key)
where theater_name = 'Filmstaden Martenstorg' AND screening_date = '2022-02-10'

 * sqlite:///movies.sqlite
Done.

[('18:00', 'The Good, the Bad and the Ugly', 178),
 ('21:00', 'The Prestige', 130)]

+ List all customers

In [18]:
%%sql
SELECT username,customer_name
FROM customers

 * sqlite:///movies.sqlite
Done.

[('Bippi', 'Bippi Sangstrump'),
 ('Mippi', 'Mippi Tangstrump'),
 ('pippi', 'Pippi Langstrump')]

+ List all tickets

In [14]:
%%sql
SELECT *
FROM tickets

 * sqlite:///movies.sqlite
Done.

[('b1d6e0d835c3de08a9fafc99da79fa6a', '8bf8823616adf5c3ef59284292b7500c', 'Bippi')]

+ Create a new ticket to some performance (i.e., insert a
  new row in your table of tickets).

In [13]:
%%sql
INSERT INTO tickets(screening_id,username)
VALUES ('8bf8823616adf5c3ef59284292b7500c','Bippi')

 * sqlite:///movies.sqlite
1 rows affected.

[]

In newer versions of SQLite (since version 3.35, released
  in March 2021), and in
  [PostgreSQL](https://www.postgresql.org/docs/current/sql-insert.html),
  we can get any value generated during an insert using the
  `INSERT...-RETURNING` statement:

~~~{.sql}
INSERT
INTO       students
VALUES     ('Amy', 3.9, 1200)
RETURNING  s_id
~~~

which would return the generated `s_id` for the new
  student.

  If your SQLite version is older than 3.35, and you can't
  upgrade, you can instead use the following idea: each row
  in a SQLite3 table has a `rowid` attribute, it is a unique
  integer which essentially tells in which order the rows
  were inserted, and it's not displayed in queries unless we
  ask for it. SQLite3 also have a function,
  `last_insert_rowid()`, which returns the `rowid` of the
  last inserted row of a table, so we can see the `s_id` of
  the most recently inserted student with the following
  query:

~~~{.sql}
SELECT s_id
FROM   students
WHERE  rowid = last_insert_rowid();
~~~

Now, check what ticket number we got for the ticket we
  created above (it should be the same as the ticket id,
  which should be a `randomblob`):

In [15]:
%%sql
SELECT ticket_id
FROM tickets
WHERE rowid = last_insert_rowid();

 * sqlite:///movies.sqlite
Done.

[('b1d6e0d835c3de08a9fafc99da79fa6a',)]

+ Try to insert two movie theaters with the same name (this
  should fail).

In [ ]:
%%sql

+ Try to insert a performance where the theater doesn’t
  exist in the database (this should fail).

In [ ]:
%%sql

+ Create a ticket where either the user or the performance
  doesn’t exist (this should fail).

In [ ]:
%%sql